@using RubiksCube.Core.Interface
@model CommandCubeResult

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rubik's Cube Simulator</h1>
    <partial name="Cube" model="Model" />
</div>
